<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="footer  ">
	<div class="container">		
		<div class="row text-center">						
			<div class="col-lg-12 col-sm-12 col-xs-12">
				<div class="footer_menu">
					<ul>
						<li><a routerLink="/home">Home</a></li>
						<li><a routerLink="/about">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>						
				<div class="footer_copyright">
					<p>© 2025 Pavel. All Rights Reserved.</p>
				</div>	
				<div class="footer_profile">
					<ul>
						<li><a target="_blank" href="https://www.facebook.com/share/1BjEmBWtFo/"><i class="fa fa-facebook"></i></a></li>
						<li><a target="_blank" href="https://www.linkedin.com/in/pavel-lontsi-bbb866324?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="bi bi-linkedin"></i></a></li>
					</ul>
				</div>	
				<div>
					<p>Avec la participation de </p>
					<ul>
						<li><a target="_blank" href="https://github.com/sidofdountio"><i class="bi bi-github"></i></a></li>
						<li><a target="_blank" href="https://www.linkedin.com/in/sidof-dountio/"><i class="bi bi-linkedin"></i></a></li>
					</ul>
				</div>					
			</div><!--- END COL -->							
		</div><!--- END ROW -->					
	</div><!--- END CONTAINER -->
</div>